apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: observability
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.58
          args: ["--collector.otlp.enabled=true"]
          ports:
            - name: ui
              containerPort: 16686     # Web UI
            - name: jaeger-http
              containerPort: 14268     # HTTP ingest
            - name: jaeger-grpc
              containerPort: 14250     # gRPC ingest
            - name: otlp-grpc
              containerPort: 4317      # OTLP gRPC
            - name: otlp-http
              containerPort: 4318      # OTLP HTTP
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
